telebot
appdirs==1.4.4
backcall==0.2.0
certifi==2020.11.8
chardet==3.0.4
colorama==0.4.3
decorator==4.4.2
distlib==0.3.1
filelock==3.0.12
idna==2.10
importlib-metadata==3.4.0
ipython==7.18.1
ipython-genutils==0.2.0
jedi==0.17.2
parso==0.7.1
pickleshare==0.7.5
prompt-toolkit==3.0.7
pygame==2.0.0.dev8
Pygments==2.7.1
pyTelegramBotAPI==3.7.4
PyYAML==5.3.1
q==2.6
requests==2.25.0
simple-draw==2.6.8
six==1.15.0
trafaret==2.1.0
trafaret-config==2.0.2
traitlets==5.0.4
typing-extensions==3.7.4.3
urllib3==1.26.2
virtualenv==20.4.0
wcwidth==0.2.5
zipp==3.4.0
